{% extends "base.html" %}
{% block content %}
  <h1>📋 Список завдань</h1>

  {% if tasks %}
    <ul>
      {% for task in tasks %}
        <li>
          <a href="{% url 'core:task_detail' task.id %}">
            {{ task.name }}
          </a>
          {% if task.completed %}
            ✅
          {% else %}
            ⏳
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Поки що немає жодного завдання.</p>
  {% endif %}

  <p><a href="{% url 'core:task_create' %}">➕ Створити нове завдання</a></p>
{% endblock %}
